$black: rgb(0, 0, 0);
$green: rgb(193, 252, 0);
$gray: rgb(32, 32, 32);
$font-generic: 'Roboto', sans-serif;

$font-size-3rem: 3rem;
$font-size-2rem: 2rem;
$font-size-1rem: 1rem;
$letter-spacing-11px: 11px;

$padding-2rem: 2rem;

$height-100vh: 100vh;
$height-70vh: 70vh;
$width-80: 80vw;
$line-height-1-2rem: 1.2rem;
$border-green: 2px $green solid;
$gap-4rem: 4rem;